@media (max-width: 1024px) {
  .nav-wrap ul {
    column-gap: 44px;
  }
  .section-1 {
    padding: 32px;
  }
  .section-1-wrap {
    width: 100%;
    flex-direction: column;
    padding: 0;
    row-gap: 68px;
    /* margin: 32px; */
  }
  .left-block {
    width: 90%;
    align-items: center;
    text-align: center;
  }
  .left-child p {
    width: auto;
  }
  .right-block {
    max-width: 960px;
    width: 100%;
    height: 450px;
    background-image: url(../images/img-X1024.png);
    border-radius: 12px;
    background-position: right;
  }
  .right-block img {
    display: none;
  }
  .sec-3 {
    width: 100%;
    flex-direction: column;
    row-gap: 64px;
    padding: 32px;
  }
  .text-wrap {
    flex-direction: row;
    margin-bottom: 32px;
  }
  .image img {
    display: none;
  }
  .image {
    height: 550px;
    background-image: url(../images/frame\ 1024.png);
    border-radius: 12px;
    background-position: right;
  }
  .box-size {
    max-width: 960px;
    column-gap: 118px;
  }
  .sec-4 {
    max-width: 1024px;
    width: 100%;
    height: 588px;
  }
  .footer {
    flex-direction: column;
    margin: 45px auto;
    row-gap: 41px;
    width: 90%;
  }
  .footer-text {
    justify-content: space-between;
    width: 60%;
    column-gap: 60px;
  }
  .block-size {
    max-width: 40%;
  }
  .footer-block-5 {
    display: none;
  }
}
@media (max-width: 744px) {
  .header-wrap {
    width: 95%;

    /* justify-content:space-around */
  }
  .flex-par {
    row-gap: 24px;
  }
  .nav-wrap ul {
    column-gap: 15px;
  }
  .section-1 {
    padding: 0 24px;
  }
  .section-1-wrap {
    /* padding: 0 24px; */
    row-gap: 24px;
  }
  .left-block {
    width: 100%;
  }
  .left-block h1 {
    font-size: 40px;
    line-height: 48.5px;
  }
  .left-child {
    flex-direction: column;
    row-gap: 16px;
  }

  .left-child p {
    line-height: 28px;
  }
  .left-child a {
    font-size: 14px;
  }
  .right-block {
    /* max-width: 696px;
    width: 100%; */
    height: 499px;
    background-image: url(../images/img-X744.png);
  }
  .section-2 {
    padding: 20px 0;
  }
  .section-2-wrap {
    flex-direction: column;
    row-gap: 20px;
  }
  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .sec-3 {
    width: 100%;
    flex-direction: column;
    row-gap: 29px;
    padding: 24px;
  }
  .image {
    height: 550px;
    max-width: 696px;
    background-image: url(../images/frame\ 744.png);
    border-radius: 12px;
  }
  .text-wrap {
    flex-direction: column;
    text-align: center;
  }
  .sec-4 {
    max-width: 744px;
    width: 100%;
    height: 500px;
  }
}
/* ar eteoda 5ive elementi da magitom davamate */
@media (max-width: 545px) {
  * {
    overflow: hidden;
  }
  header {
    height: 65px;
  }
  .header-wrap {
    justify-content: space-between;
    width: 100%;
    padding: 24px 20px;
    height: 65px;
  }
  /* .nav-wrap {
    display: none;
  }
  .click-button {
    display: none;
  } */
  .visible {
    display: none;
  }
  .burger-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: black;
  }
  .line {
    background-color: white;
    width: 15px;
    height: 2px;
  }
  .right-block {
    height: 309px;
    background-image: url(../images/img-X375.png);
  }
  .section-2 {
    padding: 0;
    row-gap: 0;
  }
  .block {
    padding: 24px;
  }
  .image {
    height: 195px;
    max-width: 327px;
    background-image: url(../images/frame\ 375.png);
    border-radius: 12px;
    padding: 10px;
  }
  .sec-3 h3 {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .sec-3 p {
    font-size: 14px;
    line-height: 24px;
  }
  .sec-4 {
    height: 500px;
  }
  .footer {
    width: 80%;
    row-gap: 25px;
  }
  .footer-text {
    max-width: 315px;
    width: 90%;
    column-gap: 10px;
  }
  .block-size {
    margin: 0;
    text-align: center;
  }
  .footer-block-1 {
    margin: auto;
  }
  .font-size {
    line-height: 28px;
  }
  .header-burger {
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    background-image: url(../images/menu/MENU.JPG);
    background-position: center;
    background-size: cover;
  }
  .nav-wrap-burger {
    height: 50%;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
  }
}
